a {
  text-decoration: none;
  color: inherit;
}

.App {
  display: flex;
}

main {
  margin-top: 60px;
  margin-left: 160px;
  width: 100%;
}

.samples {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
