.contentswrap {
  display: inline-block;
}

.itemname {
  font-weight: bold;
  font-size: 20px;
  height: 50px;
}

.item_category {
  height: 50px;
  border: none;
}

.item_bigimg {
  height: 600px;
  width: 500px;
  text-align: center;
  border: solid 1px #ddd;
}

.contents-left {
  float: left;
}

.contents-right {
  float: left;
  padding-left: 20px;
  margin-left: 30px;
  vertical-align: top;
  background: transparent;
  padding-left: 10px;
}

.title-box {
  line-height: 12px;
  margin: 0 auto;
}

.product-explain {
  padding-top: 10px;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
}

.exclusive-info-name {
  margin-top: 0;
  margin-bottom: 5px;
}

.yellow-box {
  text-align: center;
  border: solid 1px orange;
  font-weight: lighter;
  font-size: 15px;
  color: orange;
}

.star-rating {
  width: 210px;
}

.star-rating,
.star-rating span {
  display: inline-block;
  height: 39px;
  overflow: hidden;
  background: url(../images/star.png) no-repeat;
}

.star-rating span {
  background-position: left bottom;
  line-height: 0;
  vertical-align: top;
}

.text-center {
  text-align: center;
}

.buybtn {
  cursor: pointer;
  background-color: black;
  margin-top: 20px;
  width: 270px;
  height: 60px;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
  color: #fff;
  font-family: "맑은 고딕", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.thumnail-box {
  margin-top: 10px;
  margin-bottom: 20px;
  border: solid 1px #ddd;
  min-height: 150px;
}

.contents-info {
  border-top: 1px solid #ddd;
}

.option-box {
  width: 100%;
  height: 26px;
  margin-bottom: 3px;
  padding: 3px 0 4px 2px;
  font-size: 11px;
  color: #666;
  cursor: pointer;
}

.option-box-cover {
  width: 350px;
  font-family: "gulim", "굴림", sans-serif;
  background-color: #f3f3f3;
  position: relative;
  padding: 12px 9px 7px 9px;
  border-bottom: 1px solid #ddd;
}

.total-price-box {
  padding: 13px 10px;
  border: 1px solid #ddd;
  border-top: none;
  color: #000;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

.total-price {
  float: right;
}
